<nav>
    <a href="/" class="brand"><h1>3antoClub</h1></a>
    <% if(locals.currentUser && locals.currentUser.membership === "signup") { %>
        <a href="/member">Become member</a>
    <% } %>
    <% if(locals.currentUser) { %>
        <a href="/message">New Message</a>
        <div class="log">
            <a href="/logout">Logout</a>
        </div>
        </div>
    <% } else { %>
        <div class="log">
            <a href="/login">Login</a>
            <a href="/sign-up">Sign up</a>
        </div>
    <% } %>
</nav>