<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include('./partials/navbar') %>
    <main>
        <form action="/member" method="post">
            <%- include('./partials/errors') %>
            <div>
                <label for="code">Secret Code:</label>
                <input type="text" id="code" name="secret_code">
            </div>
            <div>
                <label for="admin">Do you want to become an admin ?</label>
                <input type="checkbox" id="admin" name="is_admin" value="admin">
            </div>
            <button>Submit</button>
        </form>
    </main>
</body>
</html>