nav {
    background-color: #18181b;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    font-size: 2rem;
}


nav a:not(.brand) {
    padding: 0.7rem 1rem;
    border-radius: 10px;
    font-size: 1.3rem;
    color: rgb(255, 255, 0);
    transition: transform 250ms ease;
}

nav a {
    text-decoration: none;
}

.brand {
    color: white;
}

nav a:last-of-type {
    color: white;
}


.brand:hover {
    text-decoration: underline;
}

.log {
    display: flex;
    gap: 2rem;
}

nav a:not(.brand):hover, nav a:not(.brand):focus {
    background-color: grey;
    transform: scale(1.2);
}